.DashboardPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &-sidebar {
        grid-column: 2 / 3;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        width: 100%;
        grid-column: 4 / 12;
    }

    &-user {
        grid-column: 1 / 13;
        grid-row: 1;
        height: auto;
    }

    &-repos {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }

    &-repo {
        margin-block: 1.6rem;
    }

    &-repoLink {
        display: flex;
        justify-content: flex-start;
        gap: 2.4rem;
        padding: 2.4rem;
    }
}
